#mapContainer {
  backgroundColor: #ccc;
  flex-grow: 1
}

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

#parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  flex-grow: 1;
  min-height: 0;
}

.sidebar {
  width: 300px;
  /* height: 100%; */
  padding: 25px 15px;
  background-color: #313640;
  color: #FFF;
  font-size: 15px;
  text-align: left;
  border-right: 1px solid #5e5e5e;
  display: flex;
  flex-direction: column;

}

.sidebar h3 {
  font-size: 30px;
  text-align: center;
}

.map-overlay {
position: absolute;
top: 30px;
right: 10px;
background: #C2C0C4;
opacity: 0.8;
margin-right: 20px;
font-family: Arial, sans-serif;
overflow: auto;
border-radius: 3px;
}

#legend {
padding: 10px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 18px;
height: 100px;
margin-bottom: 40px;
width: 170px;
}

.legend-key {
display: inline-block;
border-radius: 20%;
width: 10px;
height: 10px;
margin-right: 5px;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 11px/14px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 220px;
}

.mapboxgl-popup-content h3 {
  background: #313640;
  color: #fff;
  margin: 0;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
